@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media (max-width: 396px) {
	.navbar {
		justify-content: center;
	}
}

@media (min-width: 768px) {
	.brand-line, .feedback-text-top {
		display: flex;
	}
	.feedback-text-top-columns {
		width: 11rem;
	}
}

@media (max-width: 768px) {
	.main-info, .our-mission-text{
		text-align: center;
		padding-bottom: 40px;
	}
	.change-order h3 {
		order: 1;
	}
	.change-order p {
		order: 2;
	}
	.change-order img {
		order: 3;
	}
	.brand-line {
		display: block;
	}
	.brand-image img {
		margin: 0 auto;
	}
	.brand-image {
		height: 10rem;
	}
	.feedback-text-top {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

@media (max-width: 991px) {
	.block-with-button img {
		display: none;
	}
	.our-mission-text {
		text-align: center;
		margin-top: 2rem;
	}
	.block-with-button_right {
		width: 100%;
	}
	.button-play {
		display: none;
	}
	.brand-line {
		width: 100%;
	}
	.feedback-image {
		display: none;
	}
	.feedback-text {
		width: 100%;
	}
}

@media (min-width: 991px) {
	.block-with-button_right {
		width: 40%;
	}
	.button-play {
		display: flex;
	}
	.our-mission-text {
		padding-left: 5rem;
	}
	.our-mission-text p {
		padding-right: 7rem;
	}
	.brand-line {
		width: 80%;
	}
	.feedback-text {
		width: 60%;
	}
}

html {
	font-size: 15px;
}

body {
	font-family: 'Poppins', sans-serif;
}

.article-text {
	color: #486958;
	font-weight: 500;
}

.navbar {
	padding-top: 1rem; 
}

.navbar-toggler-icon {
	background-image: url(../img/toggler.png);
}

.navbar-brand {
	color: #58A9A5;
	font-size: 1.75rem;
	margin-left: 10px;
}

.navbar-brand:hover {
	color: #404242;
}

.nav-items {
    justify-content: space-between;
}

.nav-item a {
	color: #404242;
	font-size: 1.25rem;
	text-decoration: none;
}

.nav-item a:hover {
	color: #58A9A5;
}

.btn-primary {
	background-color: #58A9A5;
	border-color: #58A9A5;
}

.btn {
	padding: 1rem 4rem;
	font-size: 1.25rem;
	border-radius: 1.25rem;
}

.btn:hover {
	background-color: #008080;
}

/* Main Block */

.main-block {
	padding-top: 6rem;
}

.main-info h1 {
	font-weight: 800;
}

.main-info p {
	font-size: 1.3rem;
	/*text-align: justify;*/
	padding: 2rem 0;
	line-height: 3rem;
}

.main-block-bg {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../img/bgimage.png');
}

.main-block-bg img {
	width: 100%;
	height: 100%;
}

.main-info button {
	border-radius: 20px 20px 20px 0px;
	font-weight: 700;
}

/* Block How it works */

.how-it-works-block {
	padding-bottom: 4rem;
}

.titles {
	font-size: 3.5rem;
	font-weight: 800;
	color: #1C2323;
	line-height: 6rem;
}

.text-under-title {
	font-size: 1.4rem;
	color: #404242;
	font-weight: 400;
	line-height: 2rem;
}

.block-with-button {
	display: flex;
	padding-top: 3rem; 
}

.block-with-button img {
	width: 70%;
}

.block-with-button_right {
	background-color: #CCF0E6;
	padding: 3rem 4rem;
	font-size: 1rem;
	line-height: 1.5rem;
	position: relative;
}

.block-button_right-text {
	margin-bottom: 3rem;

}

.button-for-video {
	color: #486958;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 30px;
}

.button-for-video:hover {
	color: #486958;
}

.button-play {
	width: 100px;
	height: 100px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 65px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 163px;
    left: -50px;
}

.white-circle {
	width: 80px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-circle a {
	text-align: end;
}

.block_our-mission {
	padding-top: 6rem
}

.title-for-article {
	font-size: 2rem;
	font-weight: 700;
	line-height: 3rem;
	margin-bottom: 3rem;
}

.image-block img{
	width: 100%;
}

.our-mission-text {
	font-size: 1.4rem;
}


/* Block Our Project*/

.text-under-title::after, .text-under-title span::after {
	content: '';
	display: block;
	width: 6rem;
	height: 0.2rem;
	background-color: #58A9A5;
	margin: 0.5rem auto 0;
}

.text-under-title span::after {
	margin: 2rem auto 0;
}

.our-project-title {
	font-size: 2rem;
	font-weight: 700;
	line-height: 3rem;
	color: #58A9A5;
}

.our-project-text {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	text-align: justify;
}

.our-project-image {
	width: 100%;
	padding: 1.5rem 0;
}

.change-order {
	display: flex;
	flex-wrap: wrap;
}

/* Block Testimonial */

.testimonial-block {
	padding-top: 6rem;
}

.brand-image {
	display: flex;
	align-items: center;
}

.brand-image img {
	width: 10rem;
}

.brand-line {
	margin: 4rem auto 0;
	justify-content: space-between;
	text-align: center;
}

/* Feedback Block */

.feedback-block {
	padding: 5rem 0;
}

.feedback-image {
	width: 40%;
}

.feedback-image img {
	width: 100%;
	height: 100%;
}

.feedback-text {
	padding: 3rem 5rem;
	background-color: #CCF0E6;
}

.feedback-text-top {
	justify-content: space-between;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2.5rem;
	color: #58A9A5;
}

.big-numbers {
	color: #58A9A5;
	font-size: 3.5rem;
	font-weight: 800;
	line-height: 4rem;
	letter-spacing: 0em;
}

.feedback-text-bottom {
	padding-top: 4rem;
	position: relative;
	z-index: 2;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2rem;
	color: #486958;
}

.feedback-text-bottom::before {
	content: url("../img/before.png");
	position: absolute;
	top: 10%;
	left: -5%;
	z-index: -1;
}

.feedback-text-author {
	font-style: italic;
	color: #58A9A5;
	padding-top: 1rem;
}

/* Block Contact Us */

.contact-us-block {
	padding-bottom: 5rem;
}

.contact-us-text p, .form_label {
	font-size: 1rem;
	font-weight: 500;
	line-height: 2rem;
	color: #486958;
}

.contact-us-text p::after, .contact-us-text p span::after {
	content: '';
    display: block;
    width: 6rem;
    height: 0.2rem;
    background-color: #58A9A5;
    margin-top: 0.5rem;
}

.contact-form {
	padding: 2rem;
	border: 1px solid #486958;
	position: relative;
}

.contact-button {
	border-radius: 20px 20px 20px 0px;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

.form-group {
	position: relative;
}

.form_label {
	position: absolute;
	top: 0;
	z-index: 0;
	transition: 0.3s;
	left: 0;
}

.form_input {
	width: 100%;
	padding-bottom: 1rem;
	border: none;
	border-bottom: 1px solid #000;
	transition: 0.3s;
	outline: none;
}

.third-form {
	border: none;
	margin-bottom: 3rem;
}

.form_input:focus {
	border-bottom: 1px solid #58A9A5;
}

.form_input::focus .form_label {
	top: -1rem;
	font-size: 1rem;
	color: #000;
}

.form_label:focus {
	display: none;
}